*{
    text-align: center;
}

/*Tables*/
table {
	border-collapse: collapse;
	max-width: 90%;
	float: left;
	border-radius: 4px;
	-moz-border-radius: 4px;
	overflow-x: scroll;
}

th, td {
	text-align: center;
}

td{
    font-size: 16px;
}


th {
	background-color:#1C1F26;
	color: #F4CD32;
}

a:hover {
	color: #999999;
}

input, select, option{
    background-color: inherit;
    font-size: inherit;
}

input:hover,  input:active, input:focus, option:hover{
    border: 2px solid crimson;
}

button:hover{
    background-color: crimson;
}
