<div class="container">
  <div class="row mt-5">
    <h3 style="color:whitesmoke">Statistiche</h3>
    <div class="col-md-3">
      <table Style="color:white">
        <tr>
          <th>
            Nome
          </th>
          <th>
            Cognome
          </th>
          <th>
            Stagione
          </th>
          <th>
            Presenze
          </th>
          <th>
            Contribuzioni/90min          
          </th>
          <th>
            Precisione tiri (%)
          </th>
          <th>
            Passaggi chiave/90min
          </th>
          <th>
            Precisione passaggi (%)
          </th>
          <th>
            Dribbling/90min
          </th>
          <th>
            Falli subiti/90min
          </th>
          <th>
            Falli commessi/90min
          </th>
          <th>
            Tackles/90min
          </th>
          <th>
            Tackles vinti (%)
          </th>
          <th>
            Chiusure
          </th>

        </tr>
        <tr *ngFor="let statsbox of statsboxes">
          <td>
            {{statsbox.player.player_name}}
          </td>
          <td>
             {{statsbox.player.player_surname}} 
          </td>
          <td>
             {{statsbox.season}} 
          </td>
          <td>
             {{statsbox.caps}} 
          </td>
          <td>
             {{statsbox.contributions}} 
          </td>
          <td>
             {{statsbox.shotsper}} 
          </td>
          <td>
             {{statsbox.keypass}} 
          </td>
          <td>
             {{statsbox.passprec}} 
          </td>
          <td>
             {{statsbox.dribbling}} 
          </td>
          <td>
             {{statsbox.foulssub}} 
          </td>
          <td>
             {{statsbox.foulscomm}} 
          </td>
          <td>
             {{statsbox.tackles}} 
          </td>
          <td>
             {{statsbox.tacklesper}} 
          </td>
          <td>
             {{statsbox.breaks}} 
          </td>
        </tr>
      </table>
      <table style="color:white">
        <tr>
        </tr>
          <td>
            
          </td>
        <tr>
          <td>
            Cerca per:
          </td>
          <td>
            <input placeholder="Nome" [(ngModel)]="name">
          </td>
          <td>
            <input placeholder="Cognome" [(ngModel)]="surname">
          </td>
          <td>
            <button (click)="readByName()"> Cerca </button>
          </td>
        </tr>
      </table>
    </div>
    <div class="col-md-1">

    </div>
  </div>
</div>