<div class="container">
  <div class="row mt-5">
    <h3 style="color:whitesmoke"> Giocatori </h3>
    <div class="col-md-1">

    </div>
    <div class="col-md-10">
      <table style="color:white">
        <tr>
          <th style="text-align: center;">
            Nome
          </th>
          <th style="text-align: center;">
            Cognome
          </th>
          <th style="text-align: center;">
            Eta
          </th>
          <th style="text-align: center;">
            Valore Attuale
          </th>
          <th style="text-align: center;">
            Valore Precedente
          </th>
          <th style="text-align: center;">
            Posizione
          </th>
          <th style="text-align: center;">
            Squadra
          </th>
        </tr>
        
        <tr *ngFor="let player of players">
          <td>
             {{player.player_name}}
          </td>
          <td>
             {{player.player_surname}}
          </td>
          <td>
             {{player.age}}
          </td>
          <td>
             {{player.actualMarketValue}}
          </td>
          <td>
             {{player.previousMarketValue}}
          </td>
          <td>
             {{player.position}}
          </td>
          <td>
             {{player.team.name}}
          </td>
        </tr>
      </table>
    </div>
    <div class="col-md-1">

    </div>
  </div>
</div>