<!-- PAGE CONTAINER-->
<div class="page-container2">
    <!-- HEADER DESKTOP-->
    <header class="header-desktop2">
        <div class="section__content section__content--p30">
            <div class="container-fluid">

            </div>
        </div>
    </header>

    <!-- END HEADER DESKTOP-->

   

    <!-- START statistic -->
    <section>
        <div class="col-lg-6 center-block">
            <div class="card">
                <div class="card-header">NEW PLAYER</div>
                <div class="card-body card-block">
                    <form #f="ngForm">
                        
                        <div class="form-group">
                            <label>Nome</label> <input class="au-input au-input--full" type="text" name="player_name"
                                placeholder="Nome" [(ngModel)]="playerDTO.player_name">
                        </div>
                        <div class="form-group">
                            <label>Cognome</label> <input class="au-input au-input--full" type="text" name="player_surname"
                                placeholder="Cognome" [(ngModel)]="playerDTO.player_surname">
                        </div>
                        <div class="form-group">
                            <label>Eta</label> <input class="au-input au-input--full" type="text" name="age"
                                placeholder="Eta" [(ngModel)]="playerDTO.age">
                        </div>
                        <div class="form-group">
                            <label>Valore Attuale</label> <input class="au-input au-input--full" type="text" name="actualMarketValue"
                                placeholder="Valore attuale" [(ngModel)]="playerDTO.actualMarketValue">
                        </div>
                        <div class="form-group">
                            <label>Valore precedente</label> <input class="au-input au-input--full" type="text" name="previousMarketValue"
                                placeholder="Valore Precedente" [(ngModel)]="playerDTO.previousMarketValue">
                        </div>
                        <div class="form-group">
                            <label>Posizione</label> <input class="au-input au-input--full" type="text" name="position"
                                placeholder="Posizione" [(ngModel)]="playerDTO.position">
                        </div>
                        <div class="form-group">
                            <label>Squadra</label> <input class="au-input au-input--full" type="text" name="team"
                                placeholder="Squadra" [(ngModel)]="playerDTO.team">
                        </div>
                      
                    
                        <a href="/admin-dashboard/players/playermanagement/" type="submit" class="btn btn-secondary btn-sm" (click)="insert(playerDTO)">Insert</a>
                    </form>
                </div>

            </div>
        </div>
    </section>
    <!-- END Statistic -->
    <section>
        <div class="section__content section__content--p30">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-xl-8"></div>
                    <div class="col-xl-4"></div>
                </div>
            </div>
        </div>
    </section>


    <section>
        <div class="section__content section__content--p30">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-xl-6"></div>
                    <div class="col-xl-6"></div>
                </div>
            </div>
        </div>
    </section>
 
    <!-- END PAGE CONTAINER-->
</div>
