form{
    margin-top:270px;
    width: 75%;
    height: 100%;
    padding: 15px;
    border-color: #F4CD32;
    color: #242632;
    
}

img{
    position: inherit;
    width: 50%;
    margin: 12%;
}

input, input:hover, input::selection, input:checked, input:focus{

    border: 0;
    background-color: #242632;
    border-radius: 15px;
    color: #F4CD32;
    border-bottom: 2px solid #F4CD32;
    margin: 0px; 
}

button:hover {
    border-bottom: 2px solid white;
}

.container-fluid{
    background-color: #1C1F26;
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
input::placeholder{
    color: white;
}
.form-control{
border: none;
background-color: #242632;
color: white;
border-bottom: 1px solid white;
border-radius: 15px;
}

.login{
border: none;
background-color: #242632;
color: white;
border: 1px solid white;
border-radius: 2px;
padding-top: 15px;
padding-right: auto;
padding-bottom: 15px;
padding-left: auto;
}

p{
font-size: 14px;
color: white;
}

button {
    border-left: 0;
    border-right: 0;
    border-top: 0;
    border-bottom: 1.5px solid white;
    
    border-radius: 10px;
    width: 40%;
}