<div class="container-fluid">
  <div class="box">
	
</div>


  <div class="row">

    


    <div class="col-md-8">
      <img src="../../assets/logo-09.svg" alt="logo">
    </div>

    

    <div class="col-md-4">
      <form #f="ngForm">
        <p>Please insert username and password to Login or Sign Up</p>
        <div class="form-group">
          <input class="form-control" type="text" id="user" name="username" placeholder="Username" ngModel>
        </div>
        <div class="form-group">
          <input class="form-control" type="password" id="pass" name="password" placeholder="Password" ngModel>
        </div>
        <button type="submit" (click)="login(f)" style="margin-right:20%">Login</button>
        <button type="submit" style="background-color:#00A093">Sign Up</button>
      </form>

      
      
    </div>
  </div>
</div>