<div class="container">
  <div class="row mt-5">
    <div class="col-md-1">
    </div>
    <div class="col-md-10">
      <div class="table">
        <div class="thead">
          <div class="tr">
            <div class="td"> Date </div>
            <div class="td"> Value </div>
            <div class="td"> Index </div>
            <div class="td"> User </div>
            <div class="td"> Player </div>
            <div class="td"> Edit </div>
            <div class="td"> User </div>
          </div>
        </div>
        <div class="tbody">
          <form #f="ngForm" class="tr">
            <div class="td">
              <input type="date" id="date" name="search_dateInput"
                placeholder="inserisci la data della ricerca" #dateInput="ngModel"
                [(ngModel)]="searchtoinsert.search_date" required>
            </div>
            <div class="td">
              <input placeholder="value" #valueInput="ngModel" ngModel pattern="[0-9]{1,3}"
                [(ngModel)]="searchtoinsert.value" minlength="1" name="valueInput" required>
              <div *ngIf="valueInput.touched && valueInput.invalid">
                <div *ngIf="valueInput.errors.required">Il campo è richiesto</div>
                <div *ngIf="valueInput.errors.minlength">Inserire un valore valido</div>
                <div *ngIf="valueInput.errors.pattern">Inserire un valore numerico</div>
              </div>
            </div>
            <div class="td">
              <input placeholder="player_index" #player_indexInput="ngModel" ngModel pattern="[0-9]{1,3}"
                [(ngModel)]="searchtoinsert.player_index" minlength="1" name="player_indexInput" required>
              <div *ngIf="player_indexInput.touched && player_indexInput.invalid">
                <div *ngIf="player_indexInput.errors.required">Il campo è richiesto</div>
                <div *ngIf="player_indexInput.errors.minlength">Inserire un valore valido</div>
                <div *ngIf="player_indexInput.errors.pattern">Inserire un valore numerico</div>
              </div>
            </div>
            <div class="td">
              <select #userInput="ngModel" [(ngModel)]="searchtoinsert.user" name="userInput" required >
                <option [ngValue]="undefined" selected>Select</option>
                <option style="width: 100%;height: 26px;" *ngFor="let user of users"
                  [ngValue]="user">{{user.id}}</option>
              </select>
            </div>
            <div class="td">
              <select #playerInput="ngModel" [(ngModel)]="searchtoinsert.player" name="playerInput" required>
                <option [ngValue]="undefined" selected>Select</option>
                <option style="width: 100%;height: 26px;" *ngFor="let player of players"
                  [ngValue]="player">{{player.id}}</option>
              </select>
            </div>
            <div class="td">
              <button [disabled]="f.invalid" (click)="insert(searchtoinsert)">Insert</button>
            </div>
            <div class="td">
              <button (click)="clear()">Clear</button>
            </div>
          </form>
          <div class="tr" *ngFor="let search of searches">
            <input hidden [(ngModel)]="search.id">
            <div class="td">
              <input type="date" [(ngModel)]="search.search_date">
            </div>
            <div class="td">
              <input [(ngModel)]="search.value">
            </div>
            <div class="td">
              <input [(ngModel)]="search.player_index">
            </div>
            <div class="td">
              <input [(ngModel)]="search.user.id">
            </div>
            <div class="td">
              <input [(ngModel)]="search.player.id">
            </div>
            <div class="td">
              <button (click)="update(search)">Save</button>
            </div>
            <div class="td">
              <button (click)="delete(search)">Delete</button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-1">
    </div>
  </div>
</div>