<div class="container">
    <div class="row mt-5">
      <h3 style="color:whitesmoke; text-align: center;"> Infortuni</h3>
      <div class="col-md-1">

      </div>
      <div class="col-md-10">
        <table style="color:white">
          <tr>
            <th>
              Id
            </th>
            <th>
              Gravità
            </th>
            <th>
              Descrizione
            </th>
            <th>
              Data         
            </th>
            <th>
             Id giocatore
            </th>
          </tr>
          <tr *ngFor="let injury of injuries">
            <td>
               {{injury.id}}  
            </td>
            <td>
               {{injury.severity}}  
            </td>
            <td>
               {{injury.description}}  
            </td>
            <td>
               {{injury.date}}  
            </td>
            <td>
               {{injury.player.id}}  
            </td>
        </table>
      </div>
      <div class="col-md-1">
  
      </div>
    </div>
</div>