<div class="container">
    <div class="row mt-5">
      <div class="col-md-3">
        <table style="background-color: #fffdfda1;">
          <tr>
            <th>
              Id
            </th>
            <th>
              Gravità
            </th>
            <th>
              Descrizione
            </th>
            <th>
              Data         
            </th>
            <th>
             Id giocatore
            </th>
          </tr>
          <tr *ngFor="let injury of injuries">
            <td>
              <label>{{injury.id}} </label>
            </td>
            <td>
              <label>{{injury.severity}} </label>
            </td>
            <td>
              <label>{{injury.description}} </label>
            </td>
            <td>
              <label>{{injury.date}} </label>
            </td>
            <td>
              <label>{{injury.player.id}} </label>
            </td>
        </table>
      </div>
      <div class="col-md-1">
  
      </div>
    </div>
</div>