<!-- PAGE CONTAINER-->
<div class="page-container2">
    <!-- HEADER DESKTOP-->
    <header class="header-desktop2">
        <div class="section__content section__content--p30">
            <div class="container-fluid">

            </div>
        </div>
    </header>

    <!-- END HEADER DESKTOP-->

    
    <section>
        <div class="col-lg-6 center-block">
            <div class="card">
                <div class="card-header">EDIT PLAYER</div>
                <div class="card-body card-block">
                     <form #f="ngForm">
                         <input type="hidden" name="id" [(ngModel)]="player.id" />
                        
                        <div class="form-group">
                            <label>Id Giocatore</label> <input class="au-input au-input--full" type="text" name="playerName"
                                placeholder="Id Giocatore" [(ngModel)]="player.id">   </div>

                         <div class="form-group">
                            <label>Nome</label> <input class="au-input au-input--full" type="text" name="playerName"
                            placeholder="Nome" [(ngModel)]="player.player_name">   </div>
                        <div class="form-group">
                            <label>Cognome</label> <input class="au-input au-input--full" type="text" name="playerSurname"
                            placeholder="Cognome" [(ngModel)]="player.player_surname">   </div>
                        <div class="form-group">
                            <label>Eta</label> <input class="au-input au-input--full" type="text" name="eta"
                            placeholder="Eta" [(ngModel)]="player.age">  </div>
                        <div class="form-group">
                            <label>Valore Attuale</label> <input class="au-input au-input--full" type="text" name="Valore Attuale"
                            placeholder="Valore Attuale" [(ngModel)]="player.actualMarketValue">   </div>
                        <div class="form-group">
                            <label>Posizione</label> <input class="au-input au-input--full" type="text" name="Posizione"
                            placeholder="Posizione" [(ngModel)]="player.position">   </div>
                        <div class="form-group">
                        <label>Team</label> <input class="au-input au-input--full" type="text" name="team"
                          placeholder="Team" [(ngModel)]="player.team.name">   </div>




                 <a href="/admin-dashboard/players/playermanagement/" type="submit" class="btn btn-secondary btn-sm" (click)="update(f)">Update</a>

            </form>

            </div>

            </div>
        </div>
    </section>
    <section>
        <div class="section__content section__content--p30">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-xl-8"></div>
                    <div class="col-xl-4"></div>
                </div>
            </div>
        </div>
    </section>

    <section>
        <div class="section__content section__content--p30">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-xl-6"></div>
                    <div class="col-xl-6"></div>
                </div>
            </div>
        </div>
    </section>

    <!-- END PAGE CONTAINER-->
</div>