<div class="container">
  <div class="row mt-5">
    <div class="col-md-1">

    </div>
    <div class="col-md-10">
      <table style="margin-top: 20px;">
        <tr style="background: beige;">
          <th style="text-align: center;">
            Nome
          </th>
          <th style="text-align: center;">
            Cognome
          </th>
          <th style="text-align: center;">
            Eta
          </th>
          <th style="text-align: center;">
            Valore Attuale
          </th>
          <th style="text-align: center;">
            Valore Precedente
          </th>
          <th style="text-align: center;">
            Posizione
          </th>
          <th style="text-align: center;">
            Squadra
          </th>
         
        </tr>
        
        <tr *ngFor="let player of players">
          <td>
            <input [(ngModel)]="player.player_name">
          </td>
          <td>
            <input [(ngModel)]="player.player_surname">
          </td>
          <td>
            <input [(ngModel)]="player.age">
              
          </td>
          <td>
            <input [(ngModel)]="player.actualMarketValue">
          </td>
          <td>
            <input [(ngModel)]="player.previousMarketValue">
          </td>
          <td>
            <input [(ngModel)]="player.position">
              
          </td>
          <td>
            <input [(ngModel)]="player.team.name">
              
          </td>
        
        </tr>
      </table>
    </div>
    <div class="col-md-1">

    </div>
  </div>
</div>