<div class="container" >
    <div class="row mt-5">
      <div class="col-md-1">
      </div>
  
      
      <div class="col-md-10">
        <h3 style="color:whitesmoke">Lista squadre</h3>
        <table style="color:white">
          <tr>
            <th style="text-align: center;">
              Id
            </th>
            <th style="text-align: center;">
             Nome
            </th>
            <th style="text-align: center;">
              Valore mercato
            </th>
            <th style="text-align: center;">
              Index squadra
            </th>
           
           
          </tr>
          
          <tr *ngFor="let team of teams">
            <td>
              {{team.id}}
            </td>
            <td>
              {{team.name}}
            </td>
            <td>
              {{team.market_value}}
            </td>
            <td>
              {{team.team_index}}
            </td>
          </tr>
        </table>
      </div>
     
     
      <div class="col-md-1">
  
      </div>
    </div>
  </div>