<div class="container" >
  <div class="row mt-5">
    <div class="col-md-1">

    </div>
    <div class="col-md-10" style="margin-right: 100px;">
      <table style="background-color: black; margin-top: 20px;">
        <tr style="text-align: center;color: bisque;">
          <th style="text-align: center;">
            Nome
          </th>
          <th style="text-align: center;">
            Cognome
          </th>
          <th style="text-align: center;">
            Eta
          </th>
          <th style="text-align: center;">
            Valore Attuale
          </th>
          <th style="text-align: center;">
            Valore Precedente
          </th>
          <th style="text-align: center;">
            Posizione
          </th>
          <th style="text-align: center;">
            Squadra
          </th>
         
        </tr>
        <tr>
          <td>
            <input placeholder="nome" [(ngModel)]="playertoinsert.player_name">
          </td>
          <td>
            <input placeholder="cognome" [(ngModel)]="playertoinsert.player_surname">
          </td>
          <td>
            <input placeholder="eta" [(ngModel)]="playertoinsert.age">
            
          </td>
          <td>
            <input placeholder="valore attuale" [(ngModel)]="playertoinsert.actualMarketValue">
          </td>
          <td>
            <input placeholder="valore precedente" [(ngModel)]="playertoinsert.previousMarketValue">
          </td>
          <td>
            <input placeholder="posizione" [(ngModel)]="playertoinsert.position">
            
          </td>
          <select id="new" [(ngModel)]="playertoinsert.team">
            <option *ngFor="let team of teams" [ngValue]="team">{{team.name}}</option>
          </select>
          
          <td>
            <button (click)="insert(playertoinsert)">Insert</button>
          </td>
          <td>
            <button (click)="clear()" style="padding-left: 12px; padding-right: 10px;">Clear  </button>

            
          </td>
        </tr>
        <tr *ngFor="let player of players">
          <td>
            <input [(ngModel)]="player.player_name">
          </td>
          <td>
            <input [(ngModel)]="player.player_surname">
          </td>
          <td>
            <input [(ngModel)]="player.age">
              
          </td>
          <td>
            <input [(ngModel)]="player.actualMarketValue">
          </td>
          <td>
            <input [(ngModel)]="player.previousMarketValue">
          </td>
          <td>
            <input [(ngModel)]="player.position">
              
          </td>
          <td>
            <input [(ngModel)]="player.team.name">
              
          </td>
          <td>
            <button (click)=update(player)>Save</button>
          </td>
          <td>
            <button (click)="delete(player)">Delete</button>
          </td>
        </tr>
      </table>
    </div>
    <div class="col-md-1">

    </div>
  </div>
</div>