*{
    text-align: center;
}

/*Tables*/
table {
	border-collapse: collapse;
	width: 100%;
	float: left;
	border-radius: 4px;
	-moz-border-radius: 4px;
}

div.core {
    overflow: auto;
}

th, td {
	text-align: center;
	padding: 2px;
}

td{
    font-size: 16px;
}



th {
	background-color: #1C1F26;
	color: #F4CD32;
}

a:hover {
	color: #999999;
}

input, select{
    background-color: inherit;
    font-size: inherit;
}

input:hover,  input:active, input:focus{
    border: 2px solid #65B26B;
}

button:hover{
    background-color: #65B26B;
}
